{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid bg pt-5 fstyle" style="height: 720px;">
    <div class="container text-warning trans-l1 rounded border my-5">
        <h1>About TGS,</h1>
        <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat aspernatur totam culpa officia officiis neque, eaque commodi odio vitae, quis consequuntur eligendi? Eaque pariatur natus debitis iste tempora corporis dicta vel voluptatibus atque quo, nam odit sit porro nulla fuga aliquid, aperiam placeat vero saepe? Amet nobis aut enim eaque, deserunt, numquam nulla, aliquid ipsam aliquam corporis excepturi voluptatibus deleniti rerum ab ipsa a laborum? Modi repudiandae sint ipsam provident ratione accusamus velit aliquid eum, maiores reprehenderit dolor enim, corrupti alias soluta distinctio cum exercitationem eveniet et natus voluptatibus eaque dolores dicta dolore suscipit? Vero ea reiciendis esse nihil maxime? consectetur, adiprecusandae reiciendis. odit beatae consequuntur facilis qui incidunt maiores. expedita ratione voluptatum cupiditate sed quibusdam nesciunt? eat ea repellendus dignissimos quos.</p>
    </div>
</div>

{% endblock content %}