{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid bg pt-5 text-light fstyle" style="height: 720px;">
    <div class="container trans-l1 rounded border border-primary my-5">
        <div class="row pt-3 text-center">
            <div class="col-12">
                <div class="h1" style="font-size:9vw">{{ctype|upper}} CONTESTS</div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <hr style='border: 2px solid white;'>
            </div>
            <div class="col-2">
                <img class="mx-auto d-block" src="{% static 'core/images/swards.png' %}">
            </div>
            <div class="col-5 pb-4">
                <hr style='border: 2px solid white;'>
            </div>
        </div>

        {% for contest in contests %}
        <div class="row m-1 pr-3 py-2 border border-primary trans-l2 text-center" style="font-size:3vw;">
            <div class="col-2">
                {{contest.date|date:"j M"}}
            </div>
            <div class="col-2">
                {{contest.match_type}}
            </div>
            <div class="col-3">
                Entry <i style="font-size: 2vw" class="fas fa-rupee-sign"></i>{{contest.fees}}
            </div>
            <div class="col-3">
                Total Games {{contest.total_games}}
            </div>
            <div class="col-2">
                {% if ctype == 'daily' %}
                    <a href="{% url 'djoin' contest.id %}" class="btn btn-sm btn-primary">Join</a>
                {% elif ctype == 'weekly' %}
                    <a href="{% url 'wjoin' contest.id %}" class="btn btn-sm btn-primary">Join</a>   
                {% elif ctype == 'monthly' %}
                    <a href="{% url 'mjoin' contest.id %}" class="btn btn-sm btn-primary">Join</a>
                {% elif ctype == 'TGS Weeks' %}
                    <a href="{% url 'tgswjoin' contest.id %}" class="btn btn-sm btn-primary">Join</a>
                {% endif %}
            </div>
        </div>
        <br>
        {% endfor %}
        
    </div>
</div>

{% endblock content %}