{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid bg pt-5 text-light">

  <div class="pt-4">
    {% if messages %}
          {% for message in messages %}
              <div {% if message.tags %} class='alert alert-{{message.tags}} alert-dismissible fade show' {% endif %} role="alert">
                  {{message}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          {% endfor %}
      {% endif %}
  </div>

  <div class="container trans-l1 rounded border border-primary my-5">
    <div class="row pt-3 fstyle text-center">
      <div class="col-12">
        <div class="h1" style="font-size:7vw">JOIN {{ctype}} CONTESTS</div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <hr style='border: 2px solid white;'>
      </div>
      <div class="col-2">
        <img class="mx-auto d-block" src="{% static 'core/images/swards.png' %}">
      </div>
      <div class="col-5 pb-4">
        <hr style='border: 2px solid white;'>
      </div>
    </div>

    <div class="pb-3">
      <form method="POST" action="" enctype="multipart/form-data" class="p-3">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="matchDate">Match Date</label>
            <input type="date" class="form-control" id="matchDate" placeholder="Match Date" value="{{contest.date|date:'Y-m-d'}}" disabled>
          </div>
          <div class="form-group col-md-6">
            <label for="matchType">Match Type</label>
            <input type="text" class="form-control" id="matchType" placeholder="Match Type" value="{{contest.match_type}}" disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="entryFees">Entry Fees</label>
            <input type="number" class="form-control" id="entryFees" placeholder="Entry Fees" value="{{contest.fees}}" disabled>
          </div>
          <div class="form-group col-md-6">
            <label for="totalGames">Total Games</label>
            <input type="number" class="form-control" id="totalGames" placeholder="Total Games" value="{{contest.total_games}}" disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            {{form.team_name.label_tag}}
            {{form.team_name}}
          </div>
          <div class="form-group col-md-6">
            {{form.leader_pname.label_tag}}
            {{form.leader_pname}}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            {{form.second_pname.label_tag}}
            {{form.second_pname}}
          </div>
          <div class="form-group col-md-6">
            {{form.third_pname.label_tag}}
            {{form.third_pname}}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            {{form.fourth_pname.label_tag}}
            {{form.fourth_pname}}
          </div>
          <div class="form-group col-md-6">
            {{form.fifth_pname.label_tag}}
            {{form.fifth_pname}}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            {{form.whats_num.label_tag}}
            {{form.whats_num}}
          </div>
          <div class="form-group col-md-6">
            {{form.email.label_tag}}
            {{form.email}}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            {{form.pay_ss.label_tag}}
            {{form.pay_ss}}
          </div>
          <div class="form-group col-md-6">
            {{form.team_logo.label_tag}}
            {{form.team_logo}}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Join</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}