{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid bg pt-5 fstyle" style="height: 720px;">
    <div class="container trans-l1 rounded border my-5">
        <div class="row pt-3 text-light text-center">
            <div class="col-12">
                <div class="h1 text-warning" style="font-size:9vw">MONTHLY CONTESTS</div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <hr style='border: 1px solid orange;'>
            </div>
            <div class="col-2">
                <img class="mx-auto d-block" src="{% static 'core/images/swards.png' %}">
            </div>
            <div class="col-5 pb-4">
                <hr style='border: 1px solid orange;'>
            </div>
        </div>
        <div class="row m-1 pr-3 py-2 border border-warning trans-l2 text-warning text-center" style="font-size:3vw;">
            <div class="col-2">
                27 Jun
            </div>
            <div class="col-2">
                Squad
            </div>
            <div class="col-3">
                Entry <i style="font-size: 2vw" class="fas fa-rupee-sign"></i>500
            </div>
            <div class="col-3">
                Total Games 6
            </div>
            <div class="col-2">
                <a href="#" class="btn btn-sm btn-warning">Join</a>
            </div>
        </div>
        <br>
        <div class="row m-1 pr-3 py-2 border border-warning trans-l2 text-warning text-center" style="font-size:3vw;">
            <div class="col-2">
                16 Aug
            </div>
            <div class="col-2">
                Squad
            </div>
            <div class="col-3">
                Entry <i style="font-size: 2vw" class="fas fa-rupee-sign"></i>260
            </div>
            <div class="col-3">
                Total Games 4
            </div>
            <div class="col-2">
                <a href="#" class="btn btn-sm btn-warning">Join</a>
            </div>
        </div>
        <br>
        <div class="row m-1 pr-3 py-2 border border-warning trans-l2 text-warning text-center" style="font-size:3vw;">
            <div class="col-2">
                28 Jun
            </div>
            <div class="col-2">
                Solo
            </div>
            <div class="col-3">
                Entry <i style="font-size: 2vw" class="fas fa-rupee-sign"></i>120
            </div>
            <div class="col-3">
                Total Games 1
            </div>
            <div class="col-2">
                <a href="#" class="btn btn-sm btn-warning">Join</a>
            </div>
        </div>
        <br>
    </div>
</div>

{% endblock content %}